<div class="jumbotron">
        <div class="container">
            <h1 class="display-4"><font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">Simulador vendas</font></h1>
            <font style="vertical-align: inherit;">Responda as perguntas para simular e obter a indicação do equipamento mais indicado para o seu caso!</font>
        </div>
    </div>  
<div class="container">
    <div id="home-form" class="row">
        <div class="col-sm-12  text-center">
            <form>
                <div class="form-group">
                    <ia-input-radio 
                        text="Qual quantidade de funcionários que necessitam de aparelhos telefônicos?"
                        model="vendaCentral.tpQtdFuncionarios"
                        required name="tpQtdFuncionarios"
                        options="optionsTpQtdFuncionarios"
                        >
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Necessita acesso externo direto a cada setor da empresa?(DDR-Discagem direta Ramal)?"
                        model="vendaCentral.blDdr"
                        options="optionsTpSimNao"
                        required name="blDdr">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Qual marca de equipamento tem preferencia?"
                        model="vendaCentral.tpMarcaPreferencia"
                        name="tpMarcaPreferencia"
                        options="listMarcasPreferencia">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Prioriza a solução do problema independente do valor?"
                        model="vendaCentral.blPriorizaSolucao"
                        options="optionsTpSimNao"
                        name="blPriorizaSolucao">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Qual numero de toques simultâneos (quantidade de ramais que tocaram ao mesmo tempo ao receberem uma ligação)?"
                        model="vendaCentral.tpQtdToquesSimultaneos"
                        name="tpQtdToquesSimultaneos"
                        options="optionsTpQtdToquesSimultaneos">
                    </ia-input-radio>

                    <ia-input-radio 
                        text="Atendente (Telefonista) possui computador?"
                        model="vendaCentral.blComputadorAtendente"
                        options="optionsTpSimNao"
                        name="blComputadorAtendente">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Necessita de secretária eletrônica para armazenar recados?"
                        model="vendaCentral.blSecretariaEletronica"
                        options="optionsTpSimNao"
                        name="blSecretariaEletronica">
                    </ia-input-radio>

                    <ia-input-radio 
                    text="Possui ronda de funcionários?"
                    model="vendaCentral.blFuncaoRonda"
                    options="optionsTpSimNao"
                    name="blFuncaoRonda">
                </ia-input-radio>
                
                <ia-input-radio 
                    text="Existe muito fluxo de comunicação telefônica entre filiais?"
                    model="vendaCentral.blFluxoAltoFiliais"
                    options="optionsTpSimNao"
                    name="blFluxoAltoFiliais">
                </ia-input-radio>
                    
                <ia-input-radio 
                    text="Existe um grande volume de funcionários que trabalham fora da empresa e necessitam receber ligações?"
                    model="vendaCentral.blFuncionarioRamalCelular"
                    options="optionsTpSimNao"
                    name="blFuncionarioRamalCelular">
                </ia-input-radio>
                        
                <ia-input-radio 
                    text="Quantas ligações externas podem ser recebidas no mesmo instante?"
                    model="vendaCentral.tpQtdLigacoesConcorrentes"
                    name="tpQtdLigacoesConcorrentes"
                    options="optionsTpQtdLigacoesConcorrentes">
                </ia-input-radio>

                <div class="alert alert-danger" ng-if="listErros && listErros.length" role="alert">
                        <div ng-repeat="erro in listErros">{{erro.text}}</div>
                    
                </div>
                <button type="submit" class="btn btn-dark btn-lg" ng-click="createVendaCentral()">Enviar</button>
                <br><br>

                <div id="modal-sugestao" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="mySmallModalLabel">Equipamentos Sugeridos</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Marca</th>
                                                <th>Equipamento</th>
                                                <th>% Similaridade</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="sugestao in listSugestao">
                                                <td>{{sugestao.tpMarca}}</td>
                                                <td>{{sugestao.dsEquipamento}}</td>
                                                <td>{{sugestao.pcSimilaridade}} %</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <!--<div class="text-center text-muted">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
    </div>-->

</div>
