<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html>

<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- DEPENDENCIAS -->
	<script type="text/javascript" src="/js/angular.min.js"></script>
	<script type="text/javascript" src="/js/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/js/jquery.slim.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/index/index.js"></script>

	<!-- DIRECTIVES -->
	<script type="text/javascript" src="/directives/directives.js"></script>
	<script type="text/javascript" src="/directives/home/homeController.js"></script>
	<script type="text/javascript" src="/directives/vendaCentral/vendaCentralController.js"></script>
	<script type="text/javascript" src="/directives/iaInputRadio/iaInputRadioController.js"></script>

	<!-- load bootstrap -->
	<style>
		html {
			overflow-y: scroll;
		}

		.header a {
			color: white;
		}

		.header .active {
			color: #bcbcbc;
		}

		.header a:hover {
			color: #bcbcbc;
		}

		.logo {
			color: white;
			font-family: cursive;
		}

		#todo-list {
			margin-bottom: 30px;
		}

		#todo-form {
			margin-bottom: 50px;
		}
	</style>

</head>

<body ng-app="mainApp">

	<div ng-controller="headerController">
		<nav class="header navbar navbar-dark bg-dark">
			<div class="logo col-md-2">
				<h3>Central</h3>
			</div>
			<div class="col-md-10">
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href=""ng-click="redirectHome()">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" ng-click="redirectVendaCentral()">Venda Central</a>
					</li>
			</div>
			<!-- Navbar content -->
		</nav>
	</div>
	<div class="container">
		<div ui-view></div>
	</div>
</body>

</html>