<div class="card mb-3">
    <div class="card-header text-white bg-dark mb-3"><b>{{ text }}</b></div>
    <div class="card-body text-black bg-white">
        <label ng-repeat="option in options" class="custom-control custom-radio">
                <input id="radio1" ng-value="option.value" ng-name="$parent.name" ng-model="$parent.model"type="radio" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"> <b>{{ option.text }}</b></span>
        </label>
    </div>
</div>