<div class="container">
    <div id="vendaCentral-form" class="row">
            
        <div class="col-sm-8 col-sm-offset-2 text-center ">   
                             
            <form>
                <div class="form-group">
                    <ia-input-radio 
                        text="Qual quantidade de funcionários que necessitam de aparelhos telefônicos?"
                        model="vendaCentral.tpQtdFuncionarios"
                        name="tpQtdFuncionarios"
                        options="optionsTpQtdFuncionarios"
                        >
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Necessita acesso externo direto a cada setor da empresa?(DDR-Discagem direta Ramal)?"
                        model="vendaCentral.blDdr"
                        options="optionsTpSimNao"
                        name="blDdr">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Prioriza a solução do problema independente do valor?"
                        model="vendaCentral.blPriorizaSolucao"
                        options="optionsTpSimNao"
                        name="blPriorizaSolucao">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Qual numero de toques simultâneos (quantidade de ramais que tocaram ao mesmo tempo ao receberem uma ligação)?"
                        model="vendaCentral.tpQtdToquesSimultaneos"
                        name="tpQtdToquesSimultaneos"
                        options="optionsTpQtdToquesSimultaneos">
                    </ia-input-radio>

                    <ia-input-radio 
                        text="Atendente (Telefonista) possui computador?"
                        model="vendaCentral.blComputadorAtendente"
                        options="optionsTpSimNao"
                        name="blComputadorAtendente">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Necessita de secretária eletrônica para armazenar recados?"
                        model="vendaCentral.blSecretariaEletronica"
                        options="optionsTpSimNao"
                        name="blSecretariaEletronica">
                    </ia-input-radio>

                    <ia-input-radio 
                        text="Qual volume total de gravação de recados em tempo é necessário?"
                        model="vendaCentral.tpQtdHorasGravacao"
                        name="tpQtdHorasGravacao"
                        options="optionsTpQtdHorasGravacao">
                    </ia-input-radio>
                    
                    <ia-input-radio 
                    text="Possui ronda de funcionários?"
                    model="vendaCentral.blFuncaoRonda"
                    options="optionsTpSimNao"
                    name="blFuncaoRonda">
                </ia-input-radio>
                
                <ia-input-radio 
                    text="Existe muito fluxo de comunicação telefônica entre filiais?"
                    model="vendaCentral.blFluxoAltoFiliais"
                    options="optionsTpSimNao"
                    name="blFluxoAltoFiliais">
                </ia-input-radio>
                    
                <ia-input-radio 
                    text="Existe um grande volume de funcionários que trabalham fora da empresa e necessitam receber ligações?"
                    model="vendaCentral.blFuncionarioRamalCelular"
                    options="optionsTpSimNao"
                    name="blFuncionarioRamalCelular">
                </ia-input-radio>
                
                <ia-input-radio 
                text="Quantas ligações externas podem ser recebidas no mesmo instante?"
                model="vendaCentral.tpQtdLigacoesConcorrentes"
                name="tpQtdLigacoesConcorrentes"
                options="optionsTpQtdLigacoesConcorrentes">
            </ia-input-radio>
            <br>
            <hr>

                <div class="card text-dark bg-white mb-3">
                    <div class="card-header"><b>Marca/Equipamento Indicado:</b></div>
                    <div class="card-body row">
                        <div class="col-md-6">
                            <select ng-change="changeMarca()" ng-model="vendaCentral.equipamentoIndicado.tpMarca" class="form-control" id="tpMarcaIndicada">
                            <option ng-repeat="marca in listMarcas">{{marca}}</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <select ng-disabled="!(listEquipamentos && listEquipamentos.length)" ng-model="vendaCentral.equipamentoIndicado.dsEquipamento" class="form-control" id="tpMarcaIndicada">
                            <option ng-repeat="equipamento in listEquipamentos">{{equipamento}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="alert alert-danger" ng-if="listErros && listErros.length" role="alert">
                    <div ng-repeat="erro in listErros">{{erro.text}}</div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createVendaCentral()">Salvar</button>
            </form>
        </div>
   
    </div>
    
    <div class="col-sm-4 col-sm-offset-2 text-center">
        
            <div class="card mb-3"></div>
            <div class="card-header text-white bg-dark mb-3"><h3><b>Casos</b></h3></div>
            <div class="card-body text-black bg-white">
                    <div ng-repeat="vendaCentral in listVendaCentral">
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="vizualizarCaso(vendaCentral)">Caso {{$index}}</button>
                    <br><br>
                    </div>
                    
                   
            </div>
    </div>
    <div id="modal-caso" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="mySmallModalLabel">Caso</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                             
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Respostas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Qual quantidade de funcionários que necessitam de aparelhos telefônicos?</th>
                                        <td>{{vendaCentralDetalhar.tpQtdFuncionarios}}</td>
                                    </tr>

                                    <tr>
                                        <th>Necessita acesso externo direto a cada setor da empresa?(DDR-Discagem direta Ramal)?</th>
                                        <td>{{vendaCentralDetalhar.blDdr?'Sim':'Não'}}</td>
                                    </tr>

                                    <tr>
                                        <th>Prioriza a solução do problema independente do valor?</th>
                                        <td>{{vendaCentralDetalhar.blPriorizaSolucao?'Sim':'Não'}}</td>
                                    </tr>

                                    <tr>
                                        <th>Qual numero de toques simultâneos (quantidade de ramais que tocaram ao mesmo tempo ao receberem uma ligação)?</th>
                                        <td>{{vendaCentralDetalhar.tpQtdToquesSimultaneos}}</td>
                                    </tr>

                                    <tr>
                                        <th>Atendente (Telefonista) possui computador?</th>
                                        <td>{{vendaCentralDetalhar.blComputadorAtendente?'Sim':'Não'}}</td>
                                    </tr>

                                    <tr>
                                        <th>Necessita de secretária eletrônica para armazenar recados?</th>
                                        <td>{{vendaCentralDetalhar.blSecretariaEletronica?'Sim':'Não'}}</td>
                                    </tr>

                                    <tr>
                                        <th>Qual volume total de gravação de recados em tempo é necessário?</th>
                                        <td>{{vendaCentralDetalhar.tpQtdHorasGravacao}}</td>
                                    </tr>

                                    <tr>
                                        <th>Possui ronda de funcionários?</th>
                                        <td>{{vendaCentralDetalhar.blFuncaoRonda?'Sim':'Não'}}</td>
                                    </tr>

                                    <tr>
                                        <th>Existe muito fluxo de comunicação telefônica entre filiais?</th>
                                        <td>{{vendaCentralDetalhar.blFluxoAltoFiliais?'Sim':'Não'}}</td>
                                    </tr>

                                    <tr>
                                        <th>Existe um grande volume de funcionários que trabalham fora da empresa e necessitam receber ligações?</th>
                                        <td>{{vendaCentralDetalhar.blFuncionarioRamalCelular?'Sim':'Não'}}</td>
                                    </tr> 

                                    <tr>
                                        <th>Quantas ligações externas podem ser recebidas no mesmo instante?</th>
                                        <td>{{vendaCentralDetalhar.tpQtdLigacoesConcorrentes}}</td>
                                    </tr>

                                    <tr>
                                        <th>Equipamento Sugerido</th>
                                        <td>{{vendaCentralDetalhar.equipamentoIndicado.tpMarca}} -
                                            {{vendaCentralDetalhar.equipamentoIndicado.dsEquipamento}}</td>
                                    </tr>

                                </tbody>
                                
                                </table>
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="deleteVendaCentral(vendaCentralDetalhar._id)">Excluir Caso</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
           
        

    </div>
    
    <!--<div class="text-center text-muted">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
    </div>-->

</div>