<div class="container">

    <div class="jumbotron text-center">
        <h1>Informação sobre a necessidade do Cliente <span class="badge badge-secondary">{{ listVendaCentral.length }}</span></h1>
    </div>
    <div id="vendaCentral-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            
            <div class="checkbox" ng-repeat="vendaCentral in listVendaCentral">
                <label>
						<input type="checkbox" ng-click="deletevendaCentral(vendaCentral._id)"> {{ vendaCentral.dsEquipamentoPreferencia }}
					</label>
            </div>
            

        </div>
    </div>

    <div id="vendaCentral-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">
                    <ia-input-radio 
                        text="Qual quantidade de funcionários que necessitam de aparelhos telefônicos?"
                        model="vendaCentral.tpQtdFuncionarios"
                        name="tpQtdFuncionarios"
                        options="[ 
                                    { value:'P12', text:'12 pessoas'} 
                                    , { value:'P32', text:'32 pessoas'} 
                                    , { value:'P64', text:'64 pessoas'} 
                                    , { value:'P128', text:'128 pessoas'} 
                                    , { value:'P+128', text:'Mais que 128 pessoas'} 
                                ]"
                        >
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Necessita acesso externo direto a cada setor da empresa?(DDR-Discagem direta Ramal)?"
                        model="vendaCentral.blDdr"
                        name="blDdr">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Qual marca de equipamento tem preferencia?"
                        model="vendaCentral.dsEquipamentoPreferencia"
                        name="dsEquipamentoPreferencia"
                        options="[ 
                                    { text: 'Intelbras', value:'Intelbras'} 
                                    , { text: 'Panasonic', value:'Panasonic'} 
                                    , { text: 'Digistar', value:'Digistar'} 
                                    , { text: 'Sem Preferencia', value:'Sem Preferencia'} 
                                ]">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Prioriza a solução do problema independente do valor?"
                        model="vendaCentral.blPriorizaSolucao"
                        name="blPriorizaSolucao">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Qual numero de toques simultâneos (quantidade de ramais que tocaram ao mesmo tempo ao receberem uma ligação)?"
                        model="vendaCentral.tpQtdToquesSimultaneos"
                        name="tpQtdToquesSimultaneos"
                        options="[ 
                                    { text: 'Até 6', value:'QT6'} 
                                    , { text: 'Até 10', value:'QT10'} 
                                    , { text: 'Até 30', value:'QT30'} 
                                    , { text: 'Mais que 30', value:'QT+30'} 
                                ]">
                    </ia-input-radio>

                    <ia-input-radio 
                        text="Atendente (Telefonista) possui computador?"
                        model="vendaCentral.blComputadorAtendente"
                        name="blComputadorAtendente">
                    </ia-input-radio>
                    <ia-input-radio 
                        text="Necessita de secretária eletrônica para armazenar recados?"
                        model="vendaCentral.blSecretariaEletronica"
                        name="blSecretariaEletronica">
                    </ia-input-radio>

                    <ia-input-radio 
                        text="Qual volume total de gravação de recados em tempo é necessário?"
                        model="vendaCentral.tpQtdHorasGravacao"
                        name="tpQtdHorasGravacao"
                        options="[ 
                                    { text: '1 Hora', value:'H1'} 
                                    , { text: '2 Horas', value:'H2'} 
                                    , { text: '3 Horas', value:'H4'} 
                                    , { text: 'Mais que 4 horas', value:'H+4'} 
                                ]">
                    </ia-input-radio>
                    
                    <ia-input-radio 
                    text="Possui ronda de funcionários?"
                    model="vendaCentral.blFuncaoRonda"
                    name="blFuncaoRonda">
                </ia-input-radio>
                
                <ia-input-radio 
                    text="Existe muito fluxo de comunicação telefônica entre filiais?"
                    model="vendaCentral.blFluxoAltoFiliais"
                    name="blFluxoAltoFiliais">
                </ia-input-radio>
                    
                <ia-input-radio 
                    text="Existe um grande volume de funcionários que trabalham fora da empresa e necessitam receber ligações?"
                    model="vendaCentral.blFuncionarioRamalCelular"
                    name="blFuncionarioRamalCelular">
                </ia-input-radio>
                        
                <ia-input-radio 
                    text="Quantas ligações externas podem ser recebidas no mesmo instante?"
                    model="vendaCentral.tpQtdLigacoesConcorrentes"
                    name="tpQtdLigacoesConcorrentes"
                    options="[ 
                                { text: 'Até 4', value:'QT4'} 
                                , { text: 'Até 8', value:'QT8'} 
                                , { text: 'Até 12', value:'QT12'} 
                                , { text: 'Até 16', value:'QT16'} 
                                , { text: 'Mais que 16', value:'QT+16'} 
                            ]">
                </ia-input-radio>
                    
                </div>
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createVendaCentral()">Enviar</button>
            </form>
        </div>
    </div>
    
    <!--<div class="text-center text-muted">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Read the <a href="http://scotch.io/tutorials/javascript/creating-a-single-page-todo-app-with-node-and-angular">tutorial</a>.</p>
    </div>-->

</div>